---
---

@import "{{ site.theme }}";


.page-header {
background-image: url('../imgs/big_vision_logo.png');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-color: #80808082;

}

.main-content h1, .main-content h2, .main-content h3{
  color: #6e006ec4;
}