---
---

@import "{{ site.theme }}";


.page-header {
background-image: url('../imgs/big_vision_logo.png');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-color: grey;

}